@keyframes tri1 {
    0% {
        width: 5px;
    }
    100% {
         top: 41%;
        left: 40.5%;
        width:51.4vmin;
    }
}

@keyframes tri2 {
    0% {
        width:5px;
    }
    100% {
        bottom: 56%;
        left: 15.5%;
        width:51.4vmin;
    }
}

@keyframes tri3 {
    0% {
        width:5px;
    }
    100% {
        width:51.4vmin;
    }
}

@keyframes tri4 {
    0% {
        width:5px;
    }
    100% {
        bottom: 41%;
        right: 40.5%;
        width:51.4vmin;
    }
}

@keyframes tri5 {
    0% {
        width:5px;
    }
    100% {
        width:51.4vmin;
    }
}

@keyframes tri6 {
    0% {
        width:5px;
    }
    100% {
        top: 56%;
        right: 15.5%;
        width:51.4vmin;
    }
}

body {
    text-align: center;
}

.tri1-1 {
    height: 5px;
    width: 5px;
    border-radius: 50%;

    margin: auto;

    position: absolute;
    top: 20%;
    left: 50%;
    animation: tri1 0.5s normal 1;
    animation-fill-mode: forwards;
    background-color: #0000ff;
    transform: rotate(60deg);
}

.tri1-2 {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    
    margin: auto;

    position: absolute;
    bottom: 35%;
    left: 24.3%;
    animation: tri2 0.5s normal 1;
    animation-fill-mode: forwards;
    background-color: #0000ff;
    transform: rotate(-60deg);
}

.tri1-3 {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    
    margin: auto;

    position: absolute;
    bottom: 35%;
    right: 24.3%;
    animation: tri3 0.5s normal 1;
    animation-fill-mode: forwards;
    background-color: #0000ff;
    transform: rotate(180deg);    
}

.tri2-1 {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    
    margin: auto;

    position: absolute;
    bottom: 20%;

    right: 50%;
    animation: tri4 0.5s normal 1;
    animation-fill-mode: forwards;
    background-color: #0000ff;
    transform: rotate(-120deg);
}

.tri2-2 {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    
    margin: auto;

    position: absolute;
    top: 35%;
    left: 24.3%;
    animation: tri5 0.5s normal 1;
    animation-fill-mode: forwards;
    background-color: #0000ff;
    transform: rotate(0deg);
}

.tri2-3 {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    
    margin: auto;

    position: absolute;
    top: 35%;
    right: 24.3%;
    animation: tri6 0.5s normal 1;
    animation-fill-mode: forwards;
    background-color: #0000ff;
    transform: rotate(120deg);
}

