* {
    z-index: 0;
    text-align: center;
    font-family:  'Microsoft Yahei';
}

body {
    height: 100%;
     width: 100%;
}

a {
    text-decoration: none;
}

.head {
    background: url(image/back.png) no-repeat center center;
    background-size: center;

    position: absolute;
    top: 0%;

    height: 67%;
    width: 100%;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;

    height: 60px;
}

.logo img {
    display: inline-block;

    height: 60px;
}

.logo span {
    position: relative;
    top: -20px;
    left: 20px;

    display: inline-block;

    text-align: center;
    line-height: 60px; 
    font-size: 30px;

}


.gg {
    color: rgb(255, 255, 255);
    font-family: 'yueyuan';
}

.download {
    position: absolute;
    left: 20px;
    bottom: 50px;

    height: 200px;
     width: 55%;

    color: rgb(255, 255, 255);
}

.download .gg {
    position: absolute;
    left: 10px;

    font-size: 30px;
}

.download .gg + .midium {
    position: absolute;
     top: 50px;
    left: 10px;
}

.download [class="red small"] {
    position: absolute;
    left: 100px;
    top: 6px;

    padding: 2px 5px;
}

.download hr {
    display: none;
}

.download r {
    display: none;
}

.download a {
    position: absolute;
    left: 10px;
    top: 90px;

    display: block;

    height: 60px;
    width: 80%;

    line-height: 60px;
    font-size: 20px;

    text-align: center;
    color: rgb(255, 255, 255);
}

.download a:hover {
    background-color: rgb(255, 84, 84);
}

.download img {
    display: none;
}

.download div span {
    margin: 0px 10px;
    position: relative;
    top: 110px;
    left: -20px;


    font-size: 12px;
}

.red {
    background-color: rgb(251, 108, 109);
    border-radius: 5px;
}

.midium {
    font-size: 25px; 
}

.small {
    font-size: 15px;
}

.simple {
    display: none;
}

.phone-image {
    position: absolute;
    bottom: 50px;
    right: 15px;

    width: 40%;
}

.phone-image img {
    max-width: 200px;
    width: 100%;
}

.describe {
    position: absolute;
    top: 70%;

    background-color: rgb(255, 255, 255);

    height: 20%;

    z-index: 1;
}

.describe div {
    display: inline-block;

    width: 22%;
}

.describe div img {
    width: 80%;
}

.describe div p span {
    display: none;
}

.tail {
    position: absolute;
    bottom: 0px;

    padding: 10px auto;

    height: 5%;
    width: 100%;

    color: rgb(152, 152, 152);

    font-size: smaller;

    z-index: 2;
}

#guide {
    display: none;
}

#down {
    transition: background-color 0.25s;

    border-radius: 10px;    
}