    * {
        margin: 0 auto;
        border: 0;
        padding: 0;
        z-index: 0;
        font-family:  'Microsoft Yahei';
    }

    a {
        text-decoration: none;
    }

    body {
        background: url(image/back.png) no-repeat 100%;
        background-position: top;

        text-align: center;
    }

    .head {
        padding-top: 20px;

        position: relative;
        top: 0px;

            height: 575px;
            width: 75%;
        min-width: 1000px;
    }


    .logo {
        position: absolute;
        left: 40px;
        margin-left: 0px;
        height: 60px;
        display: inline-block;
    
    }

    .logo img {
        display: inline-block;
        height: 60px;
    }

    .logo span {
        margin: 0px 0px 0px 10px;
        padding-top: 0;
        padding-bottom: 0;

        display: inline-block;
        height: 60px;
        width: 70px;

        text-align: center;
        line-height: 60px; 
        font-size: 30px;

        position: absolute;
        top: 0px;
        left: 70px;
    }

    .gg {
        color: rgb(255, 255, 255);
        font-family: 'yueyuan';
    }

    .download {
        position: absolute;
        top: 180px;
        left: 80px;
        color: rgb(255, 255, 255);
    }

    .download span {
        padding: 0px 5px;
    }

    .download .gg {
        font-size: 50px;
    }

    .download hr {
        position: absolute;
        left: 0px;

        background-color: rgb(255, 255, 255);
        width: 200px;
    }

    .download a {
        position: absolute;
        top: 110px;
        left: 0px;
        display: inline-block;
        height: 120px;
        width: 280px;

        font-size: 30px;
        line-height: 120px;
        text-align: center;
        color: rgb(255, 255, 255);
    }

    .download a:hover {
        background-color: rgb(255, 84, 84);
    }

    .download img {
        position: absolute;
        top: 160px;
        left: 300px;
        height: 120px;

        border-radius: 5px;
    }

    .download div {
        position: absolute;
        top: 300px;
    }

    .download div span {
        margin: 0px 50px 0px 0px;
    }

    .red {
        background-color: rgb(251, 108, 109);
        border-radius: 5px;
    }

    .midium {
        font-size: 30px; 
    }

    .small {
        font-size: 20px;
    }

    .simple {
        margin: 10px 0px 0px 0px; 
        position: absolute;
        left: 0px;

        display: block;
        height: 50px;

        line-height: 50px;
    }

    .phone-image {
        position: absolute;
        right: 100px;
        bottom: -200px;
    }

    .phone-image img {
        height: 650px;
    }

    .describe {
        position: absolute;
         top:600px;
        left :0px;
        right: 0px;
        z-index: 1;

        height: 300px;
        width: 75%;
        min-width: 900px;

        vertical-align: middle;

        background-color: rgb(255, 255, 255);
    }

    .describe div {
        display: inline-block;

        height: 300px;
        width: 23%;
    }

    .describe div img {
        margin: 50px 0px 0px 0px;
        width: 150px;
    }

    .tail {

        position: absolute;
        top: 900px;

        height: 70px;
        width: 100%;
        background-color: rgb(239, 239, 239);

        color: rgb(152, 152, 152);
        line-height: 70px;
        font-size: smaller;
    }

    #guide {


        position: absolute;
        top: 40px;
        right: 0px;

        display: inline-block;

        color: rgb(207, 207, 207);
        font-size: 20px;
    }

    #guide ul li {
        margin-left: 10px;
        margin-right: 10px;

        float: left;

        position: relative;

        display: table-cell;

        height: 30px;
        width: 100px;
    }

    #guide li a {
        height: inherit;

        position: absolute;
        top: 0px;
        left: 0px;

        color: rgb(207, 207, 207);
        transition: color 0.2s;
    }

    #guide ul li span {
        margin: 0px 20px;
        position: absolute;
        top: 0px; 
        left: 20px;  

        line-height: 30px;
        font-size: 15px;
    }

    #guide li i {
        display: inline-block;

        height: inherit;

        font-size: 30px;

        font-family: FontAwesome;
    }
    #android a:hover {
        color: rgb(247, 105, 105);
    }

    #ios a:hover {
        color: rgb(247, 105, 105);
    }

    #uwp a:hover {
        color: rgb(247, 105, 105);
    }
    #now {
        color: rgb(247, 105, 105);
    }

    #down {
        margin: 50px 50px 0px 0px;
        transition: background-color 0.25s;
        border-radius: 10px;    
    }

    #uline {
        position: absolute;
        bottom: -15px;

        height: 0px;
        width: 100px;
        border: 1px solid rgb(247, 105, 105);
        border-radius: 3px;
    }
