@media screen and (min-width: 800px) {
    
    * {
        margin: 0px;
        margin: 0px;
        border: 1px solid blue;
    }
    
    body {
        background-color: rgb(154, 190, 255)
    }
    
    .leftGuide {
        position: fixed;
        top: 50px;
        left: 0px;
        border-top: 10px solid rgb(224, 224, 224);
        padding: 15px 0px;
        width: 100px;
        background-color: rgb(247, 247, 247);
    }
    
    .leftGuide ul li {
        display: block;
        height: 60px;
        width: 100px;
        margin-left: -40px;
        line-height: 60px;
        text-align: center;
        list-style-type: none;
        transition: padding-left 0.2s, background-color 0.2s;
    }
    
    .leftGuide ul li:hover {
        padding-left: 10px;
        margin-right: -40px;
        background-color: rgb(255, 255, 255);
    }
    
    .topGuide {
        height: 50px;
         width: 100%;
        background-color: rgb(255, 255, 255);
        position: relative;
        text-align: right;
    }
    
    .topGuide img{
        margin: auto;

        position: absolute;
        left: 0px;
        right: 0px;
    }
    
    .l1, .l2 {
        margin-left: -40px;
        display: inline-block;
        position: relative;
        right: 20px;
    }

    .l1 {
        z-index: 1;
    }
    
    .l2 {
        z-index: 0;
    }

    .topGuide ul li {
        display: inline-block;
        line-height: 50px;
    }

    .topGuide ul li a {
        color: rgb(142, 187, 211);
        text-decoration: none;        
    }
}