* {
    margin: 0px;
    margin: 0px;
}

.leftGuide {
    position: fixed;
    top: 100px;
    left: 0px;
    border-top: 10px solid rgb(224, 224, 224);
    padding: 15px 0px;
    width: 100px;
    background-color: rgb(247, 247, 247);
}

.leftGuide ul li {
    display: block;
    height: 60px;
    width: 100px;
    margin-left: -40px;
    line-height: 60px;
    text-align: center;
    list-style-type: none;
    transition: margin-left 0.2s, background-color 0.2s;
}

.leftGuide ul li:hover {
    margin-left: -25px;
    background-color: rgb(255, 255, 255);
}

.topGuide {
    width: 100%;
}

.topGuide ul {
    float: right;
}

.topguide ul li {
    float: left;
    color: rgb(142, 187, 211);
}