* {
    margin: 0;
    padding: 0;
    border: 1px solid blue;
}

body {
    height: 100vh;
     width: 100vw;

    background-color: #beefff;
}

.background {
    position: absolute;
    bottom: 0px;
    left: 0px;

    height: 100px;
    width: 100%;
    background: url(../img/ground.png) no-repeat;
    background-size: 100% auto;
}

.sun [src="./img/sunWheel.png"], [src="./img/sunCenter.png"] {
	position: fixed;
	top: 50px;
	left: 200px;
	opacity: 1;
	height: 100px;
	width: 100px;
}

[src="./img/sunWheel.png"] {
	animation: rRotate 10s linear normal 0s infinite;
}

[src="./img/sunCenter.png"] {
	animation: lRotate 10s linear normal 0s infinite;
}

.cloud1 img {
	position: fixed;
	left: 0px;
	top: 50px;
    opacity: 1;
    height: 200px;
    width: 250px;
    animation: transRight 20s linear normal 0s 1 forwards;
    z-index: 2;
}

.cloud2 img {
	position: fixed;
	right: 200px;
	top: 200px;
    opacity: 1;
    height: 300px;
    width: 300px;
    animation: transRight 20s linear normal 0s 1 forwards;
    z-index: 2;
}

.bubbleMan {
    position: absolute;
    left: 0px;
    bottom: 100px;
    height: 100px;
     width: 100px;

    opacity: 0;

    animation: L-M 5s linear normal 0s 1, 
                dis 0.1s linear normal 5s 1;
                
}/*前五秒奥特曼出场*/

.bubbleMan img {
    animation: bubbleMan 0.1s alternate 0s 50;
}

.bubble {
    position: absolute;
    left: 50vw;
    bottom: 100px;

    height: 100px;
    width: 100px;
    opacity: 0;

    animation: bubble 2s ease-out normal 5s 1 forwards;
}

.photo {
    position: absolute;
    left: 49.5vw;
    bottom: 100px;
    height: 100px;
     width: 100px;

    opacity: 0;

    animation: showimg 0.9s linear normal 5s 1,
                dis 0.05s linear normal 5.9s 1;
}/*第六秒奥特曼自拍*/

.photo [src="./img/flashlight.png"] {
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;

    animation: showimg 0.2s linear normal 5.4s 1;
}

.noBubbleMan {
    position: absolute;
    bottom: 100px;
    left: 50vw;

    height: 100px;
    width: 100px;
}/*第七秒往后*/

.noBubbleMan [src="./img/noBubbleMan.png"] {
    opacity: 0;

    animation: showimg 0.5s linear normal 6s 1;
}

.noBubbleMan [src="./img/noBubbleManLeft.png"] {
    opacity:0;
    
    animation: showimg 3s linear normal 6.5s 1;
}

.noBubbleMan [src="./img/wrong1.png"] {
    opacity: 0;

    animation: showimg 1s linear normal 6.5s 1;
}

.noBubbleMan [src="./img/wrong3.png"] {
    opacity: 0;

    animation: showimg 1s linear normal 7.5s 1;
}

.noBubbleMan [src="./img/wrongN.png"] {
    opacity: 0;

    animation: showimg 1s linear normal 8.5s 1;
}

.noBubbleMan [src="./img/noBubbleManLeftDown.png"] {
    opacity: 0;

    animation: showimg 2s linear normal 9.5s 1;
}     

.sweat {
    opacity: 0;

    animation: showimg 1s linear normal 10.5s 1;
}
.sweat [src="./img/sweat.png"] {
    opacity: inherit;

    animation: drop 1s ease-out normal  10.5s 1;
}  

.noBubbleMan [src="./img/frontMan.png"] {
    opacity: 0;
    
    animation: showimg 2.4s linear normal 11.5s 1;
}  

.noBubbleMan [src="./img/redFace.png"] {
    opacity: 0;
    
    animation: redFace 1s linear normal 12.0s 1;
}  

.noBubbleMan [src="./img/LazerMan.png"] {
    opacity: 0;
    
    animation: showimg 3s linear normal 14.0s 1,
                dis 0.01s linear normal 17s 1;
}  

.noBubbleMan [src="./img/HeartL.png"] {
    opacity: 0;
    
    position: absolute;
    animation: fly 2s ease-in normal 14.5s 1 forwards;
}

.noBubbleMan [src="./img/HeartM.png"] {
    opacity: 0;
    
    position: absolute;
    animation: fly 2s ease-in normal 14.75s 1 forwards;
    
}  

.noBubbleMan [src="./img/HeartS.png"] {
    opacity: 0;
   
    position: absolute;
    animation: fly 2s ease-in normal 15s 1 forwards;    
}  

.end {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;

    width: 100%;
   
    animation: showimg 1s linear normal 17.1s 1 forwards;
}

.end p {
    opacity: inherit;
    width: 100%;

    text-align: center;
    font-size: 10vw;
}
img { 
    position: absolute;
    left: 0px;
    top: 0px;  
    height: 100%;
     width: 100%;
}

@keyframes L-M {
    0% {
        opacity: 1;     
        left: 0vw;
    }

    100% {
        opacity: 1;        
        left: 50vw;
    }
}

@keyframes M-R {
    0% {
        opacity: 1;
        left: 50vw;
    }

    100% {
        opacity: 1;
        left: 100vw;
    }
}

@keyframes dis {
    0% {
        opacity: 1;
        display: block;
        left: 50vw;
        transform: rotateY(0deg);
    }
    99.98% {
        left: 50vw;
        transform: rotateY(180deg);
    }
    99.99% {
        left: 50vw;
        opacity: 1;
        transform: rotateY(180deg);
    }
    100% {
        opacity: 1;
        left: 50vw;
        display: none;
        opacity: 0;
        transform: rotateY(180deg);
    }
}

@keyframes bubbleMan {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-5px);
    }
}

@keyframes bubble {
    0% {
        transform: translateY(0vh) translateX(0vw);
        opacity: 1;
    }
    100% {
        transform: translateY(-50vh) translateX(10vw);
        opacity: 0;
    }


}

@keyframes showimg {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes drop {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    100% {
        transform: translateY(20px);
        opacity: 0;
    }
}

@keyframes redFace {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fly {
    0% {
        opacity: 1;
        transform: translateX(0vw);
    }
    100% {
        opacity: 1;
        transform: translateX(-60vw); 
    }
}

@keyframes rRotate {
	0% {
		opacity: 1;
		transform: rotateZ(0deg);
	}
	25% {
		opacity: 1;
		transform: rotateZ(90deg);
	}
	50% {
		opacity: 1;
		transform: rotateZ(180deg);
	}
	75% {
		opacity: 1;
		transform: rotateZ(270deg);
	}
	100% {
		opacity: 1;
		transform: rotateZ(360deg);
	}
}

@keyframes rRotate {
	0% {
		opacity: 1;
		transform: rotateZ(0deg);
	}
	25% {
		opacity: 1;
		transform: rotateZ(90deg);
	}
	50% {
		opacity: 1;
		transform: rotateZ(180deg);
	}
	75% {
		opacity: 1;
		transform: rotateZ(270deg);
	}
	100% {
		opacity: 1;
		transform: rotateZ(360deg);
	}
}

@keyframes lRotate {
	0% {
		opacity: 1;
		transform: rotateZ(0deg);
	}
	25% {
		opacity: 1;
		transform: rotateZ(-90deg);
	}
	50% {
		opacity: 1;
		transform: rotateZ(-180deg);
	}
	75% {
		opacity: 1;
		transform: rotateZ(-270deg);
	}
	100% {
		opacity: 1;
		transform: rotateZ(-360deg);
	}
}

@keyframes transRight {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 1;
		left: 100vw;
	}
}